﻿@model Mobile.Estore.Library.Retailers.RetailerInfoDao
@{
    ViewBag.Title = "Retailer History";
    ViewBag.ActiveMenu = "RetailerInfo";
    Layout = "~/Views/Shared/IndexViewLayout.cshtml";
}

<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li><i class="icon-home home-icon"></i><a href="#" style="color:maroon !important;">Home</a> </li>
            <li><i class="icon-hospital"></i><a href="#" style="color:maroon !important;">Retailer detail - transaction history</a></li>
        </ul>
    </div>
    <div class="page-content">
        <div class="row" style="margin-top:15px;">
            <div class="col-xs-12">
                <table class="table table-bordered table-striped">
                    <tr>
                        <td class="text-left">
                            <select id="sltRetailerYear" disabled style="width:80%;">
                                <option value="" selected>Complete history</option>
                                <option value="2020">2020</option>
                                <option value="2021">2021</option>
                            </select>
                        </td>
                        <td class="text-right">
                            <span id="btnInvoice" class="btn btn-sm btn-success">
                                <i class="icon-plus-sign-alt"></i>
                                Bill Reciept
                            </span>
                            &nbsp;&nbsp;&nbsp;
                            <span id="btnNewInvoice" class="btn btn-sm btn-success">
                                <i class="icon-plus-sign-alt"></i>
                                New Bill Reciept
                            </span>
                            &nbsp;&nbsp;&nbsp;
                            <span id="btnCashReciept" class="btn btn-sm btn-success">
                                <i class="icon-plus-sign-alt"></i>
                                New Cash Reciept
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:middle">
                            <div class="col-md-12">
                                Name
                                <b style="text-transform:capitalize;">@Model.Name.ToLower()</b>
                            </div>
                            <br />
                            <div class="col-md-12">
                                Address
                                @Model.Address @Model.City
                            </div>
                            <br />
                            <div class="col-md-12">
                                Phone
                                @Model.MobileNumber
                            </div>
                        </td>
                        <td>
                            <div class="col-md-12 text-right">
                                Billed <i class="icon-rupee"></i>
                                <span style="color:maroon;">@Model.BilledAmount</span>
                            </div>
                            <br />
                            <div class="col-md-12 text-right">
                                Collection <i class="icon-rupee"></i>
                                <span style="color:maroon;">@Model.CollectedAmount</span>
                            </div>
                            <br />
                            <div class="col-md-12 text-right">
                                <br />
                                Balance <i class="icon-rupee"></i>
                                <b style="color:maroon;font-size:14px;">@Model.Balance</b>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <h5 style="color:maroon;">Transaction history</h5>
                            <br />
                            <table style="width:100%;" class="table table-bordered table-striped">
                                <tr>
                                    <td>
                                        <i class="icon-external-link-sign"></i>
                                        Ref number
                                    </td>
                                    <td>
                                        <i class="icon-calendar"></i>
                                        Date
                                    </td>
                                    <td>
                                        <i class="icon-credit-card"></i>
                                        Credit
                                    </td>
                                    <td>
                                        <i class="icon-credit-card"></i>
                                        Debit
                                    </td>
                                    <td>
                                        <i class="icon-rupee"></i>
                                        Balance
                                    </td>
                                    <td></td>
                                </tr>
                                @{ decimal balance = 0;
                                    foreach (var item in Model.Transactions)
                                    {
                                        if (item.TransactionType.Contains("Invoice"))
                                        {
                                            balance = balance + item.Amount;
                                        }
                                        else if (item.TransactionType.Contains("Reciept"))
                                        {
                                            balance = balance - item.Amount;
                                        }
                                        <tr>
                                            <td>
                                                @if (item.TransactionType.Contains("Invoice"))
                                                {
                                                    <i class="icon-external-link-sign"></i>
                                                    <span class="text-danger" style="cursor:pointer;text-decoration:underline;color:black;"
                                                          onclick="getInvoiceDetail('@item.TransactionId')">@item.BillNumber</span>
                                                    }
                                                    else
                                                    {
                                                        <span>
                                                            <i class="icon-external-link"></i>
                                                            @item.BillNumber
                                                        </span>
                                                    }
                                            </td>
                                            <td>
                                                <i class="icon-calendar"></i>
                                                @item.TransactionDate.ToString("dd-MMM-yyyy")
                                            </td>
                                            <td>
                                                @if (@item.TransactionType.Contains("Invoice"))
                                                {
                                                    <i class="icon-rupee"></i>
                                                    @item.Amount
                                                }
                                            </td>
                                            <td>
                                                @if (@item.TransactionType.Contains("Reciept"))
                                                {
                                                    <i class="icon-rupee"></i>
                                                    @item.Amount
                                                }
                                            </td>
                                            <td>
                                                <i class="icon-rupee"></i>
                                                @balance
                                            </td>
                                            <td>
                                                <span>
                                                    <i style="cursor:pointer;" onclick="deleteTransaction('@Model.RetailerId',
                                                     '@item.TransactionId', '@item.TransactionType');" class="icon-archive"></i>
                                                </span>
                                            </td>
                                        </tr>
                                    }
                                }
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <!-- #region Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        @{
            var todaysDateTime = DateTime.Now.ToString("dd-MM-yyyy");
            var dao = new Mobile.Estore.Library.Retailers.TransactionDao
            {
                RetailerId = @ViewBag.RetailerId,
                BillNumber = string.Empty,
                TransactionDate = DateTime.Now,
                IsCashTransaction = false
            };
        }
        @using (@Html.BeginForm("NewTransaction", null, dao, FormMethod.Post))
        {
            @Html.HiddenFor(x => x.RetailerId)
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Please fill all required fields.!</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <span class="text-info">Type</span>
                                <br />
                                <input id="transactionType" type='text' name="dao.TransactionType" readonly class='form-control' />
                                <input type='text' name="dao.RetailerId" value="@ViewBag.RetailerId" class='hide' />
                                <br />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <span class="text-info">Date<small style="color:maroon;font-weight:bold;">*</small></span>
                                <br />
                                <input type='date' name="dao.TransactionDate" value='@dao.TransactionDate.ToString("yyyy-MM-dd")' class='form-control' />
                                <br />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <span class="text-info">Bill number<small style="color:maroon;font-weight:bold;">*</small></span>
                                <br />
                                <input type='text' name="dao.BillNumber" class='form-control' />
                                <br />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <span class="text-info">Amount<small style="color:maroon;font-weight:bold;">*</small></span>
                                <br />
                                <input type='text' name="dao.Amount" class='form-control' />
                                <br />
                            </div>
                        </div>
                        <div class="row" id="divReciePtNumber">
                            <div class="col-lg-12">
                                <span class="text-info">Reciept Number</span>
                                <br />
                                <label for="dao.IsCashTransaction">
                                    @Html.CheckBoxFor(m => dao.IsCashTransaction, new { @onclick = "enableRecieptNumber(this.checked)" })
                                    <small style="color:maroon;">Check this checkbox to make the payment.</small>
                                </label>
                                <input id="txtRecieptNumber" type='text' name="dao.RecieptNumber" class='form-control' disabled />
                                <br />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="col-lg-12">
                            <button class="btn btn-success" type="submit">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <!-- #endRegion Modal -->
    <!-- #region InvoiceModal -->
    <div class="modal fade" id="invoiceModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">
                        Details for
                        <i class="icon-external-link-sign"></i>
                        <span id="spanInvoiceBillNumber"></span>
                    </h4>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered table-striped table-condensed">
                        <tr>
                            <td colspan="2" class="text-left">
                                <span id="spanInvoiceLines"></span>
                            </td>
                        </tr>
                        <tr>
                            <td style="width:50%;text-align:left;padding-left:10px;">
                                <i class="icon-calendar"></i>
                                <span id="spanInvoiceDate"></span>
                            </td>
                            <td style="width:50%;text-align:right;padding-right:20px;">
                                <i class="icon-rupee"></i>
                                <span id="spanInvoiceAmount"></span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- #endRegion InvoiceModal-->
    <!-- #region Script -->
    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnInvoice').click(function () {
                $('#transactionType').val('Bill Invoice');
                document.getElementById("divReciePtNumber").style.visibility = "";
                $('#myModal').modal();
            });

            $('#btnCashReciept').click(function () {
                $('#transactionType').val('Cash Reciept');
                document.getElementById("divReciePtNumber").style.visibility = "hidden";
                $('#myModal').modal();
            });

            $('#btnNewInvoice').click(function () {
                var retailerName = '@Model.Name' + " " + '@Model.Address';
                var url = '@Html.Raw(Url.Action("New", "Invoice", new { retailerId = "__retailerId__", retailerName = "__retailerName__" }))';
                window.location.href = url.replace("__retailerId__", @ViewBag.RetailerId).replace("__retailerName__", retailerName).replace("#", "%23");
            });
        });

        function enableRecieptNumber(checkStatus) {
                document.getElementById('txtRecieptNumber').value = "";
                document.getElementById('txtRecieptNumber').disabled = !checkStatus;
        }

        function deleteTransaction(retailerId, transactionId, transactionType) {
            if (confirm('Are you sure to delete this transaction?')) {
                var url = '@Html.Raw(Url.Action("DeleteTransaction", "RetailerInfo", new { retailerId = "__retailerId__", transactionId = "__transactionId__", transactionType = "__transactionType__" }))';
                window.location.href = url.replace("__retailerId__", retailerId).replace("__transactionId__", transactionId).replace("__transactionType__", transactionType).replace("#", "%23");
            }
        }

        function getInvoiceDetail(invoiceId) {
            var apiUrl = '@Html.Raw(Url.Action("Get", "Invoice", new { invoiceId = "__invoiceId__" }))';
            $.ajax(apiUrl.replace("__invoiceId__", invoiceId),
            {
                success: function (data) {
                    document.getElementById('spanInvoiceAmount').innerHTML = data["Amount"];
                    document.getElementById('spanInvoiceDate').innerHTML = data["InvoiceDate"];
                    document.getElementById('spanInvoiceBillNumber').innerHTML = data["InvoiceNumber"];
                    document.getElementById('spanInvoiceLines').innerHTML = "";
                    if (data["Lines"].length > 0) {
                        var htmlLines = "";
                        var htmlTableRow = "<table class='table table-bordered table-striped table-condensed'><tr><td>Brand</td><td>Catelog</td><td><i class='icon-rupee'></i>&nbsp;Price</td><td><i class='icon-columns'></i>&nbsp;Quantity</td><td><i class='icon-rupee'></i>&nbsp;Total</td></tr>";
                        for (var i = 0; i < data["Lines"].length; i++) {
                            var total = data["Lines"][i]["Price"] * data["Lines"][i]["Quantity"];
                            htmlLines += "<tr><td>" + data["Lines"][i]["BrandName"] + "</td><td>" + data["Lines"][i]["CatelogName"] + "</td><td><i class='icon-rupee'>&nbsp;" + data["Lines"][i]["Price"] + "</td><td>" + data["Lines"][i]["Quantity"] + "</td><td><i class='icon-rupee'>&nbsp;" + total + "</td></tr>";
                        }
                        htmlLines += "</table>"
                        document.getElementById('spanInvoiceLines').innerHTML = htmlTableRow + htmlLines;
                    }
                    $('#invoiceModal').modal();
                }
            });
        }
    </script>
    <!-- #endRegion Script -->
</div>
