﻿@using Estore.Management.Library.Brands;
@model Estore.Management.Library.Invoices.InvoiceDao
@{
    ViewBag.Title = "New Invoice";
    ViewBag.ActiveMenu = Model.RetailerId == 0 ? "RetailerEdit" : "RetailerInfo";
    Layout = "~/Views/Shared/EditViewLayout.cshtml";
}

<script type="text/javascript">
    function enableRecieptNumber(checkStatus) {
        document.getElementById('txtRecieptNumber').value = "";
        document.getElementById('txtRecieptNumber').disabled = !checkStatus;
    }
</script>

<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li><i class="icon-home home-icon"></i><a href="#" style="color:maroon !important">Home</a> </li>
            <li><i class="icon-building"></i><a href="#" style="color:maroon !important">New Invoice for @ViewBag.RetailerName</a></li>
        </ul>
    </div>
    <div class="page-content">
        <div class="row" style="margin-top:15px;">
            <div class="col-md-12">
                <table class="table-bordered table-striped table-condensed" style="width:100%;">
                    <tbody>
                        @using (@Html.BeginForm(null, null, FormMethod.Post))
                        {
                            @Html.HiddenFor(x => x.RetailerId);
                            @Html.HiddenFor(x => x.RetailerName);
                            if (!Model.Status)
                            {
                                <tr class="warning">
                                    <td colspan="2" style="color:maroon;font-size-13px;">
                                        @Model.ErrorMessage
                                    </td>
                                </tr>
                            }
                            <tr>
                                <td style="width:99%;text-align:left;vertical-align:middle;">
                                    <div class="row">
                                        <div class="col-md-1 text-right" style="padding-top:5px;padding-bottom:6px;border-right:solid #cdcdcd 1px;">
                                            Name
                                        </div>
                                        <div class="col-md-5 text-left" style="padding-top:5px;padding-bottom:6px;font-weight:500;">
                                            @Model.RetailerName
                                        </div>
                                        <div class="col-md-1 text-right" style="padding-top:5px;padding-bottom:6px;border-right:solid #cdcdcd 1px;">
                                            Amount
                                        </div>
                                        <div class="col-md-5 text-left" style="padding-top:5px;padding-bottom:6px;font-weight:500;">
                                            <span id="totalAmount"></span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="width:99%;text-align:left;vertical-align:middle;">
                                    <div class="row">
                                        <div class="col-md-1 text-right" style="padding-top:5px;padding-bottom:6px;border-right:solid #cdcdcd 1px;">
                                            Bill No<small style="color:red;font-weight:bold;">*</small>
                                        </div>
                                        <div class="col-md-5 text-center">
                                            @Html.TextBoxFor(x => x.InvoiceNumber, new { @class = "form-control", @placeholder = "Bill number" })
                                        </div>
                                        <div class="col-md-1 text-right" style="padding-top:5px;padding-bottom:6px;border-right:solid #cdcdcd 1px;">
                                            Date<small style="color:red;font-weight:bold;">*</small>
                                        </div>
                                        <div class="col-md-5 text-center">
                                            <input class="form-control" data-val="true" data-val-date="The field InvoiceDate must be a date." id="InvoiceDate" name="InvoiceDate" type="date" value=@DateTime.Now.ToString("yyyy-MM-dd") />
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="width:99%;text-align:left;vertical-align:middle;">
                                    <div class="row">
                                        <div class="col-md-1 text-right" style="padding-top:5px;padding-bottom:6px;border-right:solid #cdcdcd 1px;">
                                            Cash Transaction<small style="color:red;font-weight:bold;">*</small>
                                        </div>
                                        <div class="col-md-5 text-left">
                                            <label for="dao.IsCashTransaction">
                                                @Html.CheckBoxFor(x => x.IsCashTransaction, new { @onclick = "enableRecieptNumber(this.checked)" })
                                                <small style="color:maroon;">Check this checkbox to make the payment.</small>
                                            </label>
                                            @Html.TextBoxFor(x => x.RecieptNumber, new { @class = "form-control", @placeholder = "Reciept number", @id = "txtRecieptNumber" })
                                        </div>
                                        <div class="col-md-1 text-right" style="padding-top:5px;padding-bottom:6px;border-right:solid #cdcdcd 1px;">
                                            Discount
                                        </div>
                                        <div class="col-md-5 text-left">
                                            @Html.TextBoxFor(x => x.Discount, new { @class = "form-control", @placeholder = "Discount" })
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:left;padding:10px;">
                                    <div class="row">
                                        <div class="col-md-1">
                                            <small style="color:maroon;">Number</small>
                                        </div>
                                        <div class="col-md-3">
                                            <small style="color:maroon;">Catelog</small>
                                        </div>
                                        <div class="col-md-1">
                                            <small style="color:maroon;">Price</small>
                                        </div>
                                        <div class="col-md-1">
                                            <small style="color:maroon;">Quantity</small>
                                        </div>
                                        <div class="col-md-1">
                                            <small style="color:maroon;">Number</small>
                                        </div>
                                        <div class="col-md-3">
                                            <small style="color:maroon;">Catelog</small>
                                        </div>
                                        <div class="col-md-1">
                                            <small style="color:maroon;">Price</small>
                                        </div>
                                        <div class="col-md-1">
                                            <small style="color:maroon;">Quantity</small>
                                        </div>
                                        @{ int i = 0;
                                            foreach (var line in Model.InvoiceLines)
                                            {
                                                <div class="col-md-1" style="border-bottom:solid #cdcdcd 1px;height:40px;margin-top:5px;">
                                                    <i class="icon-columns">&nbsp;</i>
                                                    @Model.InvoiceLines[i].LineNumber
                                                    @Html.HiddenFor(x => x.InvoiceLines[i].LineNumber)
                                                    @Html.CheckBoxFor(x => x.InvoiceLines[i].Archived)
                                                </div>
                                                <div class="col-md-3" style="border-bottom:solid #cdcdcd 1px;height:40px;margin-top:5px;">
                                                    @Html.DropDownListFor(x => x.InvoiceLines[i].CatelogId, new SelectList(ViewBag.CateLogList, "CatelogId", "DisplayName", Model.InvoiceLines[i].CatelogId), "Select catelog", new { @class = "form-control" })
                                                </div>
                                                <div class="col-md-1" style="border-bottom:solid #cdcdcd 1px;height:40px;margin-top:5px;">
                                                    @Html.TextBoxFor(x => x.InvoiceLines[i].Price, new { @class = "form-control", @type = "number" })
                                                </div>
                                                <div class="col-md-1" style="border-bottom:solid #cdcdcd 1px;height:40px;margin-top:5px;">
                                                    @Html.TextBoxFor(x => x.InvoiceLines[i].Quantity, new { @class = "form-control", @type = "number" })
                                                </div>
                                                i++;
                                            }
                                        }
                                    </div>
                                    <div class="col-md-12" style="padding-top:10px;">
                                        <input type="submit" value="Save" class="btn btn-success" />
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
