﻿@model Estore.Management.Library.CustomerBills.CustomerBillDao
@{
    ViewBag.Title = "New Customer Bill";
    ViewBag.ActiveMenu = "NewCustomerBill";
    Layout = "~/Views/Shared/EditViewLayout.cshtml";
}

<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li><i class="icon-home home-icon"></i><a href="#" style="color:maroon;">Home</a> </li>
            <li><i class="icon-bookmark-empty"></i>&nbsp;<a href="#" style="color:maroon;">New Customer Bill</a></li>
        </ul>
    </div>
    <div class="page-content">
        <div class="row" style="margin-top:15px;">
            <div class="col-md-12">
                <h5 class="text-danger">Please fill all required fields.</h5>
            </div>
            <div class="col-md-12">
                <table class="table-bordered table-striped table-condensed" style="width:90%;">
                    <tbody>
                        @using (@Html.BeginForm(null, null, FormMethod.Post))
                        {
                            @Html.HiddenFor(x => x.ModelNumber)
                            if (!Model.Status)
                            {
                                <tr class="warning">
                                    <td colspan="4" style="color:maroon;font-size-13px;">
                                        @Model.ErrorMessage
                                    </td>
                                </tr>
                            }
                            <tr>
                                <td style="width:12%;text-align:right;">
                                    Invoice number<span style="color:red;font-weight:bold;">*</span>
                                    <i class="icon-bar-chart"></i>
                                </td>
                                <td style="width:38%;">
                                    @Html.TextBoxFor(x => x.InvoiceNumber, new { @class = "form-control", @placeholder = "Invoice number" })
                                </td>
                                <td style="width:12%;text-align:right;">
                                    Invoice date<span style="color:red;font-weight:bold;">*</span>
                                    <i class="icon-calendar"></i>
                                </td>
                                <td style="width:38%;">
                                    @Html.TextBoxFor(x => x.InvoiceDate, new { @class = "form-control", @placeholder = "Name", @type = "date" })
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:right;">
                                    Name<span style="color:red;font-weight:bold;">*</span>
                                    <i class="icon-bar-chart"></i>
                                </td>
                                <td colspan="3">
                                    @Html.TextBoxFor(x => x.Name, new { @class = "form-control", @placeholder = "Name" })
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:right;">
                                    Address<span style="color:red;font-weight:bold;">*</span>
                                    <i class="icon-bar-chart"></i>
                                </td>
                                <td>
                                    @Html.TextBoxFor(x => x.Address, new { @class = "form-control", @placeholder = "Address" })
                                </td>
                                <td style="text-align:right;">
                                    Mobile number<span style="color:red;font-weight:bold;">*</span>
                                    <i class="icon-bar-chart"></i>
                                </td>
                                <td>
                                    @Html.TextBoxFor(x => x.MobileNumber, new { @class = "form-control", @placeholder = "Mobile number", @type = "number" })
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:right;">
                                    Catelog<span style="color:red;font-weight:bold;">*</span>
                                    <i class="icon-bar-chart"></i>
                                </td>
                                <td colspan="3">
                                    @Html.DropDownListFor(x => x.CatelogId, new SelectList(ViewBag.CateLogList, "CatelogId", "DisplayName", Model.CatelogId), "Select catelog", new { @class = "form-control" })
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:right;">
                                    IMEI 1<span style="color:red;font-weight:bold;">*</span>
                                    <i class="icon-bar-chart"></i>
                                </td>
                                <td>
                                    @Html.TextBoxFor(x => x.IMEINumber1, new { @class = "form-control", @placeholder = "IMEI 1", @type = "number" })
                                </td>
                                <td style="text-align:right;">
                                    IMEI 2
                                    <i class="icon-bar-chart"></i>
                                </td>
                                <td>
                                    @Html.TextBoxFor(x => x.IMEINumber2, new { @class = "form-control", @placeholder = "IMEI 2", @type = "number" })
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:right;">
                                    Battery number
                                    <i class="icon-bar-chart"></i>
                                </td>
                                <td>
                                    @Html.TextBoxFor(x => x.BatteryNumber, new { @class = "form-control", @placeholder = "Battery number", @type = "number" })
                                </td>
                                <td style="text-align:right;">
                                    Charger number
                                    <i class="icon-bar-chart"></i>
                                </td>
                                <td>
                                    @Html.TextBoxFor(x => x.ChargerNumber, new { @class = "form-control", @placeholder = "Charger number", @type = "number" })
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:right;">
                                    Total amount<span style="color:red;font-weight:bold;">*</span>
                                    <i class="icon-rupee"></i>
                                </td>
                                <td colspan="3">
                                    @Html.TextBoxFor(x => x.GrandTotal, new { @class = "form-control", @placeholder = "Amount", @type = "number" })
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4" style="padding:15px;">
                                    <input type="submit" value="Save" class="btn btn-success" />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
