﻿@model Mobile.Estore.Library.CustomerBills.CustomerBillDao
<script>
    function Load() {
        window.print();
    }
</script>
<style type="text/css">
</style>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bill-@Model.InvoiceNumber-@Model.InvoiceDate</title>
</head>
<body onload="Load();">
    <div style="width:800px;height:900px;margin: auto;">
        <table style="width:100%;padding:5px;">
            <tr>
                <td colspan="2">
                    <p style="color:black;font-size:12px;text-align:left;padding-left:1px;font-family:Arial, Helvetica, sans-serif">
                        GSTIN: ABCDEFGHIJKLMNOPQRSTUVWXYZ
                    </p>
                    <p style="color:black;font-size: 44px;text-align:center;margin: 14px 2px;font-family:Arial, Helvetica, sans-serif;font-weight:bold">
                        MAA PADMAWATI CELLCOM
                    </p>
                    <p style="color:black;font-size:15px;text-align:center;font-family:Arial, Helvetica, sans-serif;font-weight:bold;">
                        Ward No. 5 Pustak Bazar Bhind M.P. 477001
                    </p>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="height:10px;border-bottom:solid black 1px;">
                </td>
            </tr>
            <tr>
                <td style="width:50%;text-align:left;padding:2px;font-size:14px;font-family:Arial, Helvetica, sans-serif;padding:5px;padding-left:2px;">
                    No. @Model.InvoiceNumber
                </td>
                <td style="width:50%;text-align:right;padding:2px;font-size:14px;font-family:Arial, Helvetica, sans-serif;padding:5px;padding-right:2px;">
                    Date @Model.InvoiceDate
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <table style="width:100%;padding:5px;">
                        <tr>
                            <td style="width:18%;text-align:right;padding:2px;padding-right:1%;font-size:14px;font-family:Arial, Helvetica, sans-serif;">
                                Name
                            </td>
                            <td style="width:70%;text-align:left;padding:2px;padding-left:1%;font-size:16px;font-family:Arial, Helvetica, sans-serif;">
                                @Model.Name
                            </td>
                        </tr>
                        <tr>
                            <td style="width:18%;text-align:right;padding:2px;padding-right:1%;font-size:14px;font-family:Arial, Helvetica, sans-serif;">
                                Address
                            </td>
                            <td style="width:70%;text-align:left;padding:2px;padding-left:1%;font-size:16px;font-family:Arial, Helvetica, sans-serif;">
                                @Model.Address
                            </td>
                        </tr>
                        <tr>
                            <td style="width:18%;text-align:right;padding:2px;padding-right:1%;font-size:14px;font-family:Arial, Helvetica, sans-serif;">
                                Customer mob
                            </td>
                            <td style="width:70%;text-align:left;padding:2px;padding-left:1%;font-size:16px;font-family:Arial, Helvetica, sans-serif;">
                                @Model.MobileNumber
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="color:black;font-size: 13px;text-align:left;padding-left: 60px;text-align:left;font-family:Arial, Helvetica, sans-serif;padding-top: 8px;padding-bottom: 5px;">
                    Description
                </td>
                <td style="color:black;font-size: 13px;text-align:right;font-family:Arial, Helvetica, sans-serif;padding-top: 8px;padding-bottom: 5px;">
                    Amount
                </td>
            </tr>
            <tr>
                <td style="width:75%;">
                    <table style="width:100%;padding:5px;">
                        <tr>
                            <td style="width:25%;text-align:right;padding:4px;padding-right:1%;font-size:14px;font-family:Arial, Helvetica, sans-serif;">
                                Model Number
                            </td>
                            <td style="width:70%;text-align:left;padding:4px;padding-left:1%;font-size:16px;font-family:Arial, Helvetica, sans-serif;">
                                @if (Model.CatelogId != null)
                                {
                                    @Model.CatelogDisplayName
                                }
                                else
                                {
                                    @Model.ModelNumber
                                }
                            </td>
                        </tr>
                        <tr>
                            <td style="width:25%;text-align:right;padding:4px;padding-right:1%;font-size:14px;font-family:Arial, Helvetica, sans-serif;">
                                IMEI Number 1
                            </td>
                            <td style="width:70%;text-align:left;padding:4px;padding-left:1%;font-size:16px;font-family:Arial, Helvetica, sans-serif;">
                                @Model.IMEINumber1
                            </td>
                        </tr>
                        <tr>
                            <td style="width:25%;text-align:right;padding:4px;padding-right:1%;font-size:14px;font-family:Arial, Helvetica, sans-serif;">
                                IMEI Number 2
                            </td>
                            <td style="width:70%;text-align:left;padding:4px;padding-left:1%;font-size:16px;font-family:Arial, Helvetica, sans-serif;">
                                @Model.IMEINumber2
                            </td>
                        </tr>
                        <tr>
                            <td style="width:25%;text-align:right;padding:4px;padding-right:1%;font-size:14px;font-family:Arial, Helvetica, sans-serif;">
                                Charger Number
                            </td>
                            <td style="width:70%;text-align:left;padding:4px;padding-left:1%;font-size:16px;font-family:Arial, Helvetica, sans-serif;">
                                @Model.ChargerNumber
                            </td>
                        </tr>
                        <tr>
                            <td style="width:25%;text-align:right;padding:4px;padding-right:1%;font-size:14px;font-family:Arial, Helvetica, sans-serif;">
                                Battery Number
                            </td>
                            <td style="width:70%;text-align:left;padding:4px;padding-left:1%;font-size:16px;font-family:Arial, Helvetica, sans-serif;">
                                @Model.BatteryNumber
                            </td>
                        </tr>
                    </table>
                </td>
                <td style="width:25%;text-align:right;padding:2px;padding-right:1%;font-size:16px;font-family:Arial, Helvetica, sans-serif;height:132px;vertical-align:central;text-align:right">
                    @Model.GrandTotal
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <table style="width:100%;">
                        <tr>
                            <td style="width:50%;vertical-align:bottom;font-weight: bold;font-size: 18px;" rowspan="5">
                                Warranty Provided by Company.
                            </td>
                            <td style="width:35%;text-align:right;padding:2px;padding-right:1%;font-size:14px;font-family:Arial, Helvetica, sans-serif;">
                                Price
                            </td>
                            <td style="width:15%;text-align:center;padding:2px;padding-left:1%;font-size:14px;font-family:Arial, Helvetica, sans-serif;">
                                @if (@Model.BaseAmount > 0)
                                {
                                    @Model.BaseAmount
                                }
                            </td>
                        </tr>
                        <tr>
                            <td style="width:35%;text-align:right;padding:2px;padding-right:1%;font-size:14px;font-family:Arial, Helvetica, sans-serif;">
                                Discount
                            </td>
                            <td style="width:15%;text-align:center;padding:2px;padding-left:1%;font-size:14px;font-family:Arial, Helvetica, sans-serif;">
                                @if (@Model.Discount > 0)
                                {
                                    @Model.Discount
                                }
                            </td>
                        </tr>
                        <tr>
                            <td style="width:35%;text-align:right;padding:2px;padding-right:1%;font-size:14px;font-family:Arial, Helvetica, sans-serif;">
                                SGST
                            </td>
                            <td style="width:15%;text-align:center;padding:2px;padding-left:1%;font-size:14px;font-family:Arial, Helvetica, sans-serif;">
                                @if (@Model.SGST > 0)
                                {
                                    @Model.SGST
                                }
                            </td>
                        </tr>
                        <tr>
                            <td style="width:35%;text-align:right;padding:2px;padding-right:1%;font-size:14px;font-family:Arial, Helvetica, sans-serif;">
                                CGST
                            </td>
                            <td style="width:15%;text-align:center;padding:2px;padding-left:1%;font-size:14px;font-family:Arial, Helvetica, sans-serif;">
                                @if (@Model.CGST > 0)
                                {
                                    @Model.SGST
                                }
                            </td>
                        </tr>
                        <tr>
                            <td style="width:35%;text-align:right;padding:2px;padding-right:1%;font-size:14px;font-family:Arial, Helvetica, sans-serif;">
                                Total
                            </td>
                            <td style="width:15%;text-align:right;padding:2px;padding-right:1%;font-size:16px;font-family:Arial, Helvetica, sans-serif;">
                                <b>Rs.</b>&nbsp; @Model.GrandTotal
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="height:10px;border-bottom:solid black 1px;">
                </td>
            </tr>
            <tr>
                <td colspan="2" style="padding:5px 0px;">
                    <table style="width:100%;">
                        <tr>
                            <td colspan="6" style="width:100%;text-align:left;padding: 10px 0px;font-size: 22px;font-family:Arial, Helvetica, sans-serif;font-weight:bold;">
                                Authorized Dealer
                            </td>
                        </tr>
                        <tr>
                            <td style="width:11%;text-align:center;padding:7px 2px;font-size:17px;font-family:cursive;border-right:solid black 2px;border-collapse:collapse;">
                                ITEL
                            </td>
                            <td style="width:11%;text-align:center;padding:7px 2px;font-size:17px;font-family:cursive;border-right:solid black 2px;border-collapse:collapse;">
                                OPPO
                            </td>
                            <td style="width:16.5%;text-align:center;padding:7px 2px;font-size:17px;font-family:cursive;border-right:solid black 2px;border-collapse:collapse;">
                                SAMSUNG
                            </td>
                            <td style="width:12.5%;text-align:center;padding:7px 2px;font-size:17px;font-family:cursive;border-right:solid black 2px;border-collapse:collapse;">
                                VIVO
                            </td>
                            <td style="width:8.5%;text-align:center;padding:7px 2px;font-size:17px;font-family:cursive;border-right:solid black 2px;border-collapse:collapse;">
                                MI
                            </td>
                            <td style="width:12.5%;text-align:center;padding:7px 2px;font-size:17px;font-family:cursive;border-right:solid black 2px;border-collapse:collapse;">
                                NOKIA
                            </td>
                            <td style="width:15.5%;text-align:center;padding:7px 2px;font-size:17px;font-family:cursive;border-right:solid black 2px;border-collapse:collapse;">
                                ONE PLUS
                            </td>
                            <td style="width:12.5%;text-align:center;padding:7px 2px;font-size:17px;font-family:cursive;">
                                REAL ME
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="height:10px;">
                </td>
            </tr>
            <tr>
                <td style="font-size: 15px;text-align:left;text-align:left;font-family:Arial, Helvetica, sans-serif;height: 350px;vertical-align:top;padding-left: 2px;padding-top: 12px;border-top: solid black 1px;">
                    Terms and conditions.
                    <br />
                    <br />
                    <p style="padding:3px;font-weight:bold;margin:2px;">1. सभी प्रकार की गारंटी वारंटी के लिए कंपनी जिम्मेदार है, हमारी किसी भी प्रकार की कोई गारंटी नहीं है</p>
                    <p style="padding:3px;font-weight:bold;margin:2px;">2. मोबाइल का बिल कट जाने के बाद, मोबाइल ना बदला जाएगा और ना ही वापस होगा</p>
                    <p style="padding:3px;font-weight:bold;margin:2px;">3. मोबाइल की वारंटी 1 साल, चार्जर बैटरी 6 महीने की वारंटी सर्विस सेंटर पर मान्य होगी</p>
                    <p style="padding:3px;font-weight:bold;margin:2px;">4. वारंटी कंपनी के नियम अनुसार मिलेगी टूट-फूट होने पर दबने से डिस्प्ले क्रेक होने पर या अधिक वोल्टेज से जल जाने पर या पानी में जाने पर वारंटी मान्य नहीं होगी</p>
                    <p style="padding:3px;font-weight:bold;margin:2px;">5. सभी प्रकार की गारंटी वारंटी के लिए ग्राहक को सर्विस सेंटर स्वयं जाना होगा दुकानदार की कोई जवाबदारी नहीं है</p>
                </td>
                <td style="text-align:right;font-size:15px;font-family:Arial, Helvetica, sans-serif;height: 350px;vertical-align:bottom;padding-right:10px;padding-top:16px;border-top: solid black 1px;">
                    MAA PADMAWATI CELLCOM
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
