﻿@model IEnumerable<Mobile.Estore.Library.PurchaseOrders.PurchaseOrderDao>
@{
    ViewBag.Title = "Purchase Report";
    ViewBag.ActiveMenu = "DailyPurchaseReport";
    Layout = "~/Views/Shared/IndexViewLayout.cshtml";
}
<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li><i class="icon-home home-icon"></i><a href="#" style="color:maroon !important;">Home</a> </li>
            <li><i class="icon-mobile-phone"></i>&nbsp;<a href="#" style="color:maroon !important">Purchase Orders</a></li>
        </ul>
    </div>
    <div class="page-content">
        <div class="row" style="height:65px;">
            <div class="col-md-8">
                <h3>
                    <i class="icon-mobile-phone"></i>
                    PO for @ViewBag.SelectedDate.ToString("dd-MMMM-yyyy")
                </h3>
            </div>
            <div class="col-md-4" style="text-align:right;vertical-align:bottom;padding-top:20px;">
                <span class="btn btn-sm btn-success" id="btnNewPurchaseOrder" style="padding-top:7px; padding-bottom:7px;">
                    <i class="icon-plus-sign-alt" style="margin-right:6px;"></i>New
                </span>
                &nbsp;&nbsp;&nbsp;
                <input type="date" value="@ViewBag.SelectedDate.ToString("yyyy-MM-dd")" onchange="loadPurchaseOrder(this.value);" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table-bordered table-striped table-condensed" style="width:100%;">
                        <thead>
                            <tr>
                                <th style="color:#333;font-weight:normal;">
                                    <i class="icon-camera-retro"></i>
                                    Catelog
                                </th>
                                <th style="color:#333;font-weight:normal;">
                                    <i class="icon-rupee"></i>
                                    Price per piece
                                </th>
                                <th style="color:#333;font-weight:normal;">
                                    <i class="icon-camera-retro"></i>
                                    Quantity
                                </th>
                                <th style="color:#333;font-weight:normal;">
                                    <i class="icon-rupee"></i>
                                    Total
                                </th>
                                <th>

                                </th>
                            </tr>
                        </thead>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td style="padding-left:10px;">
                                    @item.BrandName
                                    @item.CatelogDisplayName
                                </td>
                                <td style="padding-left:10px;">
                                    <i class="icon-rupee"></i>
                                    @item.Price
                                </td>
                                <td style="padding-left:10px;">
                                    @item.Quantity
                                </td>
                                <td style="padding-left:10px;">
                                    <i class="icon-rupee"></i>
                                    @(item.Price * item.Quantity)
                                </td>
                                <td style="text-align:center;">
                                    <i class="icon-archive" style="cursor:pointer;" onclick="deletePurchaseOrder(@item.PurchaseOrderId);"></i>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- #region Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        @{
            var dao = new Mobile.Estore.Library.PurchaseOrders.PurchaseOrderDao
            {
                PurchaseOrderId = 0,
                Quantity = 0,
            };
        }
        @using (@Html.BeginForm("New", null, dao, FormMethod.Post))
        {
            @Html.HiddenFor(x => dao.PurchaseOrderId)
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Please fill all required fields.!</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <span class="text-info">Order date</span>
                                <br />
                                <input type='date' name="dao.OrderDate" value="@ViewBag.SelectedDate.ToString("yyyy-MM-dd")" class='form-control' />
                                <br />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <span class="text-info">Catelog</span>
                                <br />
                                <select name="dao.CatelogId" class='form-control'>
                                    <option value="-1">Select catelog</option>
                                    @foreach (var item in ViewBag.CatelogList)
                                    {
                                        <option value="@item.CatelogId">@item.DisplayName</option>
                                    }
                                </select>
                                <br />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <span class="text-info">Price</span>
                                <br />
                                <input type='text' name="dao.Price" class='form-control' />
                                <br />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <span class="text-info">Quantity</span>
                                <br />
                                <input type='text' name="dao.Quantity" class='form-control' />
                                <br />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="col-lg-12">
                            <button class="btn btn-success" type="submit">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <!-- #endRegion Modal -->
    <!-- #region Script -->
    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnNewPurchaseOrder').click(function () {
                $('#myModal').modal();
            });
        });

        function loadPurchaseOrder(selectedDate) {
            var url = '@Html.Raw(Url.Action("Index", "DailyPurchaseReport", new { poDate = "__poDate__" }))';
            window.location.href = url.replace("__poDate__", selectedDate).replace("#", "%23");
        }

        function deletePurchaseOrder(purchaseOrderId) {
            var poDate = '@ViewBag.SelectedDate'
            if (confirm('Are you sure to delete?')) {
                var url = '@Html.Raw(Url.Action("Remove", "DailyPurchaseReport", new { purchaseOrderId = "__purchaseOrderId__", poDate = "__poDate__" }))';
                window.location.href = url.replace("__purchaseOrderId__", purchaseOrderId).replace("__poDate__", poDate).replace("#", "%23");
            }
        }

    </script>
    <!-- #endRegion Script -->
</div>