﻿@model IEnumerable<Mobile.Estore.Library.Catelogs.CatelogInfoDao>
@{
    ViewBag.Title = "Catelog list";
    ViewBag.ActiveMenu = "Catelogs";
    var brandList = Mobile.Estore.Library.Brands.BrandList.Get();
    ViewBag.Brands = brandList;
    Layout = "~/Views/Shared/IndexViewLayout.cshtml";
}
<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li><i class="icon-home home-icon"></i><a href="#" style="color:maroon !important">Home</a> </li>
            <li><i class="icon-briefcase"></i>&nbsp;<a href="#" style="color:maroon !important">Catelogs</a></li>
        </ul>
    </div>
    <div class="page-content">
        <div class="row" style="height:50px;">
            <div class="col-md-8">
                <h3><i class="icon-briefcase"></i>&nbsp;Catelog list</h3>
            </div>
            <div class="col-md-4" style="text-align:right;vertical-align:bottom;padding:17px 16px;">
                <span class="btn btn-sm btn-success" onclick="showCatelogPopup(0);" style="padding-top:6px;padding-bottom:6px;">
                    <i class="icon-plus-sign-alt"></i>
                    &nbsp;New
                </span>
                &nbsp;&nbsp;&nbsp;
                <select id="sltBrand" style="width:160px;" onchange="getCatelog(this);">
                    <option selected="selected" value="-1">All</option>
                    @foreach (var brand in brandList)
                    {
                        <option @((@ViewBag.BrandTypeId == brand.Id) ? "selected" : "") value='@brand.Id'>@brand.Name</option>
                    }
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <table class="table-bordered table-striped table-condensed" style="width:100%;">
                    <thead>
                        <tr>
                            <th style="color:#333 !important;font-weight:normal;">
                                <i class="icon-inbox"></i>
                            </th>
                            <th style="color:#333 !important;font-weight:normal;">
                                <i class="icon-camera-retro"></i>
                                Model
                            </th>
                            <th style="color:#333 !important;font-weight:normal;">
                                <i class="icon-camera-retro"></i>
                                Last PO
                            </th>
                            <th style="color:#333 !important;font-weight:normal;">
                                <i class="icon-camera-retro"></i>
                                Total
                            </th>
                            <th style="color:#333 !important;font-weight:normal;">
                            </th>
                        </tr>
                    </thead>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td style="padding-left:5px;">
                                @if (item.Active)
                                {
                                    <i class="icon-eye-close" style="font-size:15px;color:green;cursor:pointer;" onclick="updateCatelog(@item.CatelogId);"></i>
                                }
                                else
                                {
                                    <i class="icon-eye-open" style="font-size:15px;color:maroon;cursor:pointer;" onclick="updateCatelog(@item.CatelogId);"></i>
                                }
                            </td>
                            <td style="padding-left:5px;">
                                <i class="icon-edit-sign" style="font-size:15px;cursor:pointer;" onclick="showCatelogPopup(@item.CatelogId);"></i>
                                &nbsp;
                                @item.DisplayName
                            </td>
                            <td style="padding-left:5px;">
                                @if (item.LastOrderDateTime != DateTime.MinValue)
                                {
                                    <i class="icon-calendar"></i>
                                    <small>
                                        @item.LastOrderDateTime.ToString("dd-MMMM")
                                    </small>
                                    <span class="bolder">&nbsp;|&nbsp;</span>
                                    <small>
                                        @item.LastOrderQuantity
                                    </small>
                                }
                                else
                                {
                                    <i class="icon-calendar-empty"></i>
                                    <small>&nbsp;No order</small>
                                }
                            </td>
                            <td style="padding-left:9px;">
                                @item.Quantity
                            </td>
                            <td style="padding-left:5px;">
                                <a style="background-color:transparent !important; color:black !important;padding:0px !important;" href="~/PurchaseOrderList?catelogId=@item.CatelogId&displayName=@item.DisplayName">
                                    <i class="icon-list-ul" style="font-size:14px;"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>

    <!-- #region Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        @{
            var dao = new Mobile.Estore.Library.Catelogs.CatelogDao
            {
                CreatedDate = DateTime.Now
            };
        }
        @using (@Html.BeginForm("Save", null, dao, FormMethod.Post))
        {
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Please fill all required fields.!</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <input type="hidden" id="txtCatelogId" name="dao.CatelogId" />
                                <span class="text-info">Type</span>
                                <br />
                                <select id="txtCatelogBrandId" class="form-control" name="dao.BrandTypeId">
                                    <option selected="selected" value="-1">All</option>
                                    @foreach (var brand in brandList)
                                    {
                                        <option @((@ViewBag.BrandTypeId == brand.Id) ? "selected" : "") value='@brand.Id'>@brand.Name</option>
                                    }
                                </select>
                                <br />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <span class="text-info">Model</span>
                                <br />
                                <input type='text' name="dao.Name" class='form-control' id="txtCatelogModel" />
                                <br />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <span class="text-info">RAM</span>
                                <br />
                                <input type='text' name="dao.RAM" class='form-control' id="txtCatelogRAM" />
                                <br />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <span class="text-info">Memory</span>
                                <br />
                                <input type='text' name="dao.Memory" class='form-control' id="txtCatelogMemory" />
                                <br />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="col-lg-12">
                            <button class="btn btn-success" type="submit">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <!-- #endRegion Modal -->
    <!-- #region Script -->
    <script type="text/javascript">

        function getCatelog(sltBrand) {
            if (sltBrand.value != "-1") {
                var url = '@Html.Raw(Url.Action("Index", "CatelogList", new { brandTypeId = "__brandTypeId__"}))';
                window.location.href = url.replace("__brandTypeId__", sltBrand.value).replace("#", "%23");
            }
            else {
                var url = '@Html.Raw(Url.Action("Index", "CatelogList"))';
                window.location.href = url.replace("#", "%23");
            }
        }

        function updateCatelog(catelogId) {
            var selectedBrandTypeId = '@ViewBag.BrandTypeId';
            var url = '@Html.Raw(Url.Action("Update", "CatelogList", new { catelogId = "__catelogId__", brandTypeId = "__brandTypeId__"}))';
            window.location.href = url.replace("__catelogId__", catelogId).replace("__brandTypeId__", selectedBrandTypeId).replace("#", "%23");
        }

        function showCatelogPopup(catelogId) {
            if (catelogId == 0) {
                var selectedBrandTypeId = '@ViewBag.BrandTypeId';
                $('#txtCatelogId').val('0');
                $('#txtCatelogBrandId').val(selectedBrandTypeId);
                $('#txtCatelogModel').val('');
                $('#txtCatelogRAM').val('');
                $('#txtCatelogMemory').val('');
            }
            else {
            var apiUrl = '@Html.Raw(Url.Action("Get", null, new { catelogId = "__catelogId__" }))';
            $.ajax(apiUrl.replace("__catelogId__", catelogId),
            {
                success: function (data) {
                    $('#txtCatelogId').val(catelogId);
                    $('#txtCatelogBrandId').val(data["BrandTypeId"]);
                    $('#txtCatelogModel').val(data["Name"]);
                    $('#txtCatelogRAM').val(data["RAM"]);
                    $('#txtCatelogMemory').val(data["Memory"]);
                }
            });
        }
        $('#myModal').modal();
    }
    </script>
    <!-- #endRegion Script -->
</div>