﻿<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="description" content="overview &amp; stats" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/Content/Custom.css" rel="stylesheet" />
    <link href="~/Content/Style.css" rel="stylesheet" />
    <!-- basic styles -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" media="screen" />
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css" media="screen" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300" media="screen" />
    <link rel="stylesheet" href="~/assets/css/ace.min.css" media="screen" />
    <link rel="stylesheet" href="~/assets/css/ace-rtl.min.css" media="screen" />
    <link rel="stylesheet" href="~/assets/css/ace-skins.min.css" media="screen" />
    <link rel="stylesheet" href="~/assets/css/bootstrap-datetimepicker.css" media="screen" />

    <script type="text/javascript" src="~/assets/js/ace-extra.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="~/Assets/Js/jquery-2.0.3.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="~/assets/js/bootstrap.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="~/assets/js/typeahead-bs2.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="~/assets/js/bootstrap-datepicker.js" charset="utf-8"></script>
    <script type="text/javascript" src="~/assets/js/bootstrap-datetimepicker.js" charset="utf-8"></script>
    <script type="text/javascript" src="~/assets/js/jquery-ui-1.10.3.custom.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="~/assets/js/jquery.ui.touch-punch.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="~/assets/js/jquery.slimscroll.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="~/assets/js/jquery.easy-pie-chart.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="~/assets/js/jquery.sparkline.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="~/assets/js/ace-elements.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="~/assets/js/ace.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="~/assets/js/jquery.flot.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="~/assets/js/jquery.flot.pie.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="~/assets/js/jquery.flot.resize.min.js" charset="utf-8"></script>
    <script type="text/javascript">

        try { ace.settings.check('navbar', 'fixed') } catch (e) { }
        try { ace.settings.check('sidebar', 'collapsed') } catch (e) { }
        try { ace.settings.check('sidebar', 'fixed') } catch (e) { }
        try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        window.jQuery || document.write("<script src='~/assets/js/jquery-2.0.3.min.js'>" + "<" + "/script>");
        if ("ontouchend" in document) document.write("<script src='~/assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
        try { ace.settings.check('main-container', 'fixed') } catch (e) { }
    </script>

</head>
<body>
    <div>
        @RenderBody();
    </div>
</body>
</html>
